[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
nest-asyncio = "*"
pandas = "*"
tiktoken = "*"
rapidfuzz = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.11"
